::-webkit-scrollbar {
    display: none;
}

* {
    padding: 0px;
    margin: 0px;
}

html {
    height: 100%;
}

body {
    background-color: rgba(0, 0, 0, 0.85);
    color: floralwhite;
    height: 100%;
    width: 100%;
}

iframe {
    height: 100%;
    width: 100%;
    border:none;
}

/********************************* jumbotron *********************************/
#jumbotron {
    padding: 10px;
    margin: 0;
    border-radius: 0;
    color: floralwhite;
    box-shadow: 0 -8px 8px 8px rgba(0, 0, 0, 0.7)
}

/********************************* wrapper *********************************/
#wrapper {
    width: 100%;
    margin: 0;
    height: calc(100% - 146px);
}

/********************************* chat *********************************/
#chat {
    box-shadow: -8px 0 8px -8px rgba(0, 0, 0, 0.7) inset;
    width: 100%;
    height: 100%;
}

/********************************* feed *********************************/
#feed {
    width: 100%;
    height: 100%;
    padding: 0;
    padding-left: 30px;
    padding-right: 30px;
}

/********************************* activity *********************************/
#activity {
    box-shadow: 8px 0 8px -8px rgba(0, 0, 0, 0.7) 
    inset;
    height: 100%;
    width: 100%;
}

/********************************* navbar *********************************/
#navbar {
    box-shadow: 0 -8px 8px -8px rgba(0, 0, 0, 0.7);
    padding: 10px;
    position: absolute;
    bottom: 0;
    height: 70px;
    width: 100%;
}